*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

body {
  font-family: var(--f-fa);
  font-size: var(--f-s-body);
  font-weight: var(--f-w-n);
  background-image: url(/assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: top -14rem right -12rem;

  @include tab {
    background: url(/assets/bg-pattern-1.svg), url(/assets/bg-main-tablet.png);
    background-repeat: no-repeat;
<<<<<<< HEAD
    background-position: top -2rem right -2rem, top -20rem left -20rem;
    background-size: 17rem 25rem, cover;
=======
    background-position: top -3rem right -3rem, top -18rem left -22rem;
    background-size: 17rem 25rem;
>>>>>>> main
  }
}
