:root {
  --f-s-h1: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem);
  --f-s-h2: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --f-s-body: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  --f-s-footer: 16rem;

  //font family

  --f-fa: "IBM Plex Sans", sans-serif;

  //font weight

  --f-w-b: bold;
  --f-w-n: normal;
}
