.header {
  margin: var(--mar-rl-1_5);
  margin-top: var(--mar-t-2_5);
  margin-bottom: var(--mar-b-4);
}

.section__intro {
  margin: var(--mar-rl-1_5);
  margin-bottom: var(--mar-b-10_38);

  &--heading {
    font-size: var(--f-s-h1);
    margin-bottom: var(--mar-b-1_25);
  }
}

.section__download {
  background-color: var(--color-black);
  position: relative;
  //   & > * {
  //     position: absolute;
  //   }
  &--pattern {
    position: relative;
    left: 3rem;
  }

  &--app {
    width: 50%;
    position: absolute;
    left: 50%;
    top: -15%;
  }
  &--card {
    background-color: var(--color-red);
  }
}
