.container {
  @include tab {
    margin: var(--mar-rl-2);
  }
}

.header {
  margin: var(--mar-rl-1_5);
  // margin-top: var(--mar-t-2_5);
  padding-top: var(--pad-t-2_5);
  margin-bottom: var(--mar-b-4);

  @include tab {
    margin: var(--mar-rl-2);
    margin-bottom: var(--mar-b-6);
  }
}

.section__intro {
  margin: var(--mar-rl-1_5);
  margin-bottom: var(--mar-b-10_38);

  @include tab {
    width: 70%;
    margin: 0;
    margin-bottom: var(--mar-b-15_56);
  }

  &--heading {
    font-size: var(--f-s-h1);
    margin-bottom: var(--mar-b-1_25);
    @include tab {
      margin-bottom: var(--mar-b-1_75);
    }
  }
}

.section__download {
  position: relative;

  &--bg {
    border-radius: 0.75rem;
    width: 100%;
  }

  @include tab {
    background: url(/assets/bg-solid-tab.jpg);
    background-size: 43.5rem 37.5rem;
  }

  //   & > * {
  //     position: absolute;
  //   }
  &--pattern {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 75%;

    // @include tab {
    //   width: 30%;
    //   top: 0;
    //   left: 50%;
    //   transform: translatex(-40%);
    // }
  }

  &--app {
    width: 60%;
    position: absolute;
    top: -18%;
    left: 50%;
    transform: translatex(-50%);

    @include tab {
      width: 40%;
      top: -42%;
      left: 4rem;
      transform: translate(0);
    }
  }
  //   &--card {
  //     background-color: var(--color-red);
  //     color: var(--color-white);
  //     position: absolute;
  //     top: 90%;
  //     z-index: 9999;
  //     padding: var(--pad-rl-2_5);
  //     border-radius: 0.75rem;
  //     @include tab {
  //       width: 57%;
  //       right: 3rem;
  //       top: 10rem;
  //     }
  //     &-heading {
  //       font-size: var(--f-s-h2);
  //       margin-top: var(--mar-t-3);
  //       margin-bottom: var(--mar-b-75);
  //     }

  //     &-text {
  //       margin-bottom: var(--mar-b-2_25);
  //       line-height: 1.75;
  //     }

  //     &-price {
  //       display: flex;
  //       align-items: center;
  //       gap: 1rem;
  //       margin-bottom: var(--mar-b-1);
  //       &__amount {
  //         font-size: 4rem;
  //         font-weight: var(--f-w-b);
  //       }
  //     }
  //     &__button--iphone {
  //       background-color: var(--color-black);
  //       color: var(--color-white);
  //       margin-bottom: var(--mar-b-1);
  //     }

  //     &__button--android {
  //       background-color: var(--color-white);
  //       color: var(--color-black);
  //       margin-bottom: var(--mar-b-3);
  //     }
  //   }
}

.footer {
  @include tab {
  }

  & > * {
    padding: var(--pad-rl-1_5);
  }
  &__logo {
    margin-bottom: var(--mar-b-2);
  }

  &__text {
    line-height: 1.625rem;
    margin-bottom: var(--mar-b-4);
  }

  &__icon {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--mar-b-5);
  }
}
