.container {
  @include tab {
    margin: var(--mar-rl-2);
  }

  @include desktop {
    margin: auto;
    width: var(--width-container);
  }
}

.header {
  margin: var(--mar-rl-1_5);
  // margin-top: var(--mar-t-2_5);
  padding-top: var(--pad-t-2_5);
  margin-bottom: var(--mar-b-4);

  @include tab {
    margin: var(--mar-rl-2);
    margin-bottom: var(--mar-b-6);
  }

  @include desktop {
    // margin: var(--mar-rl-10_31);
    margin-top: var(--mar-t-3_87);
    margin-bottom: var(--mar-b-7_94);
  }
}
.section__intro {
  margin: var(--mar-rl-1_5);
  margin-bottom: var(--mar-b-10_38);

  @include tab {
    width: 70%;
    margin: 0;
    margin-bottom: var(--mar-b-15_56);
  }

  @include desktop {
    width: 78%;
  }

  &--heading {
    font-size: var(--f-s-h1);
    margin-bottom: var(--mar-b-1_25);
    @include tab {
      margin-bottom: var(--mar-b-1_75);
    }
  }
}

.section__download {
  position: relative;
  margin-bottom: var(--mar-b-30);

  @include tab {
    margin-bottom: var(--mar-b-11_44);
  }

  @include desktop {
    margin-bottom: var(--mar-b-12_62);
  }

  &--bg {
    border-radius: 0.75rem;
    width: 100%;
  }

  //   & > * {
  //     position: absolute;
  //   }
  &--pattern {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: var(--width-pattern);

    @include tab {
      //   width: 30%;
      top: -1rem;
      //   left: 50%;
      transform: translatex(-45%);
    }

    @include desktop {
      left: 30%;
      top: -3rem;
      transform: translateX(0);
      width: 20rem;
    }
  }

  &--app {
    width: 15rem;
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translatex(-50%);

    @include tab {
      //   width: 40%;
      //   top: -15%;
      width: 17rem;
      left: 10%;
      transform: translate(0);
    }

    @include desktop {
      width: 19rem;
      top: -12rem;
      left: 10%;
      transform: translate(0);
    }
  }

  &--card {
    background-color: var(--color-red);
    color: var(--color-white);
    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: var(--width-card);
    padding: var(--pad-rl-2_5);
    border-radius: 0.75rem;

    @include tab {
      width: 25rem;
      left: 65%;
      // right: 50%;
      top: 11rem;
      // transform: translateX(-25%);
    }

    @include desktop {
      width: 27.875rem;
      padding: var(--pad-rl-3_5);
      left: 50%;
      transform: translateX(0);
      top: 5.62rem;
    }

    &-heading {
      font-size: var(--f-s-h2);
      margin-top: var(--mar-t-3);
      margin-bottom: var(--mar-b-75);

      @include desktop {
        margin-top: var(--mar-t-3_62);
        margin-bottom: var(--mar-b-1_38);
      }
    }

    &-text {
      line-height: 1.75;
      @include desktop {
        margin-bottom: var(--mar-b-2);
      }
    }

    &-price {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;

      @include desktop {
        margin-bottom: var(--mar-b-2);
      }

      &__amount {
        font-size: 4rem;
        font-weight: var(--f-w-b);
      }
    }
    &__button--iphone {
      background-color: var(--color-black);
      color: var(--color-white);
      margin-bottom: var(--mar-b-1);

      &:hover,
      &:active {
        background-color: var(--color-green);
      }
    }

    &__button--android {
      background-color: var(--color-white);
      color: var(--color-black);
      margin-bottom: var(--mar-b-3);

      &:hover,
      &:active {
        background-color: var(--color-yellow);
      }
    }
  }
}

.footer {
  @include desktop {
    margin: auto;
    width: var(--width-container);
  }

  & > * {
    padding: var(--pad-rl-1_5);
  }
  &__logo {
    margin-bottom: var(--mar-b-2);
  }

  &__wrapper {
    @include tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__text {
    line-height: 1.625rem;
    margin-bottom: var(--mar-b-4);
    &--email {
      color: var(--color-black);
      font-weight: bold;
      text-decoration: none;

      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }

  &__icon {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--mar-b-5);

    &__social:hover {
      fill: var(--color-yellow);
      cursor: pointer;
    }
  }
}
